.card__img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 270px;
    margin: 0 auto;
}

.card__year {
    
}

.card__rating {
   
}

.card__text_name {
    max-width: 305px;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}