.card__img {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 270px;
    margin: 0 auto;
    @media screen and (max-width: 500px) {
        max-width: 180px;
        max-height: 240px;
    }
    @media screen and (max-height: 700px) {
        max-height: 240px;
    }
}

.card__year {
    color: $colorlink;
    @media screen and (max-width: 500px) {
        font-size: 16px;
    }
}

.card__rating {
    display: inline-table;
    color: $colorlink;
    .rating--star {
        padding-right: 16px;
        font-size: 2.1em;
        color: $ratingStar;
    }
    .rating--text {
        font-size: 2em;
        margin: auto;
        vertical-align: text-bottom;
    }
    @media screen and (max-width: 500px) {
        font-size: 11px;
    }
}

.card__text_name {
    max-width: 305px;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
}

