footer {
    display: grid;
    justify-content: left;
    padding-left: 10px;
    width: calc(100% - 10px);
    height: 50px;
    background-color: $headerFooterBackground;
    color: #fff;

    span {
        font-size: 20px;
    }
}