body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: $colorlink;
    line-height: 2;
}

main {
    display: grid;
    min-height: calc(95vh - 50px - 3%);
    overflow: hidden;
    padding-top: 3%;
    background: rgb(20,10,10);
    background: linear-gradient(210deg, rgba(20,10,10,1) 0%, rgba(11,126,166,1) 100%);
    @media screen and (max-width: 500px) {
        min-height: calc(95vh - 25px - 3%);
    }
}

.title {
    font-size: 20px;
    grid-area: none;
}

.search_text {
    text-align: center;
    font-size: 25px;
    height: 50px;
    @media screen and (max-width: 500px) {
        font-size: 17px;
        height: 30px;
    }
}

.active_title {
    color: #2BADD8;
}

.error_title {
    color: rgb(175, 9, 9);
}