.swiper-wrapper {
    padding-bottom: 10px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
    left: 0;
    width: 100%;
}
.swiper-slide {
    min-height: 400px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    @media screen and (max-width: 500px) {
        min-height: 320px;
    }

    @media screen and (max-height: 700px) {
        min-height: 320px;
    }

  }

.swiper-slide-active {
    background-color: $activeSlideBackground;
    transition: background-color 2s linear;
    -webkit-transition: background-color 2s linear;
    -moz-transition: background-color 2s linear;
    -ms-transition: background-color 2s linear;
    -o-transition: background-color 2s linear;
}

.swiper-slide-next {
    background-color: $nextSlideBackground;
    transition: background-color 2s linear;
    -webkit-transition: background-color 2s linear;
    -moz-transition: background-color 2s linear;
    -ms-transition: background-color 2s linear;
    -o-transition: background-color 2s linear;
}

.swiper-slide-prev {
    background-color: $prevSlideBackground;
    transition: background-color 2s linear;
    -webkit-transition: background-color 2s linear;
    -moz-transition: background-color 2s linear;
    -ms-transition: background-color 2s linear;
    -o-transition: background-color 2s linear;
}

.swiper-button-next, .swiper-button-prev {
    color: $colorlink;
}

.spiner {
    width: 100%;
    height: 100%;
    background-color: $activeSlideBackground;
    img {
        margin: 0 auto;
        margin-top: 10%;
    }
}

