// fonts
$fontFamilyMain: 'Roboto';

// Colors
$colorlink: #b8ffd7; //#73C094;
$headerFooterBackground: #112630;
$activeSlideBackground: #0b7ea6;
$nextSlideBackground: #131e25;
$prevSlideBackground: #103a4b